In [1]:
import pandas as pd

In [22]:
raw_data = pd.read_csv("./data/data3.csv", skiprows=[2])

In [23]:
raw_data = raw_data[raw_data["Status"] == "IP Address"]

In [31]:
raw_data.drop(
    columns=[
        "Status",
        "IPAddress",
        "RecipientLastName",
        "RecipientFirstName",
        "RecipientEmail",
        "ExternalReference",
        "LocationLatitude",
        "LocationLongitude",
        "DistributionChannel",
        "UserLanguage",
    ]
)

,StartDate,EndDate,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,Q_RecaptchaScore,QC1,QD1,...,ST6_First Click,ST6_Last Click,ST6_Page Submit,ST6_Click Count,QS11,Q52,Q80,Q81,US,UC
19,2024-01-16 05:19:14,2024-01-16 05:33:55,100,881,True,2024-01-16 05:33:56,R_72uxJTbT26KJZSJ,1,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
20,2024-01-16 05:57:58,2024-01-16 06:07:10,100,551,True,2024-01-16 06:07:11,R_1xlLKSLVgimtnPj,0.8999999761581421,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
21,2024-01-16 05:58:26,2024-01-16 06:08:48,100,622,True,2024-01-16 06:08:49,R_6nZIlRrs9aUGKHL,1,Yes,Male,...,NaN,NaN,NaN,NaN,3rd of November,8th of November,1.0,1.0,0,0
22,2024-01-16 06:31:46,2024-01-16 06:44:03,100,736,True,2024-01-16 06:44:03,R_7PplWzAG0igeOml,1,Yes,Male,...,NaN,NaN,NaN,NaN,10th of November,24th of November,5.0,3.0,0,0
23,2024-01-16 05:21:40,2024-01-16 08:17:14,100,10534,True,2024-01-16 08:17:15,R_2nipTYf8mhH2Yus,0.8999999761581421,Yes,Non-binary / third gender,...,NaN,NaN,NaN,NaN,10th of November,24th of November,5.0,4.0,0,0
24,2024-01-16 09:26:32,2024-01-16 09:34:10,100,457,True,2024-01-16 09:34:11,R_1dy2jAJUx1DgK6R,0.800000011920929,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
25,2024-01-16 09:27:48,2024-01-16 09:36:15,100,506,True,2024-01-16 09:36:15,R_2esfOQZiXvHpgod,0.8999999761581421,Yes,Male,...,NaN,NaN,NaN,NaN,10th of November,29th of November,3.0,2.0,0,0
26,2024-01-17 03:09:03,2024-01-17 03:19:06,100,602,True,2024-01-17 03:19:06,R_2z5zMoIKEHtkx0S,0.800000011920929,Yes,Female,...,NaN,NaN,NaN,NaN,10th of November,24th of November,4.0,5.0,0,0
27,2024-01-17 03:25:49,2024-01-17 03:28:42,100,173,True,2024-01-17 03:28:43,R_6QE4FQzYCk4GaNV,1,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
28,2024-01-17 03:25:40,2024-01-17 03:33:06,100,446,True,2024-01-17 03:33:06,R_5IGX6rHpxzyVRGc,0.8999999761581421,Yes,Female,...,NaN,NaN,NaN,NaN,10th of November,24th of November,1.0,2.0,0,0
29,2024-01-17 03:17:04,2024-01-17 03:40:26,100,1402,True,2024-01-17 03:40:27,R_2MsyMcAX4nutM74,0.8999999761581421,Yes,Female,...,NaN,NaN,NaN,NaN,10th of November,29th of November,3.0,2.0,0,0
30,2024-01-17 03:29:40,2024-01-17 03:41:45,100,725,True,2024-01-17 03:41:45,R_2YaDVDfBJsltjIE,0.8999999761581421,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
31,2024-01-17 03:29:06,2024-01-17 03:50:54,100,1307,True,2024-01-17 03:50:55,R_3IQdy5RVeSJfyyC,1,Yes,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
32,2024-01-17 05:19:34,2024-01-17 05:28:24,100,529,True,2024-01-17 05:28:25,R_4lyH7ncMlGtZuFj,0.8999999761581421,Yes,Female,...,NaN,NaN,NaN,NaN,10th of November,24th of November,5.0,4.0,0,0
33,2024-01-17 05:52:30,2024-01-17 05:52:46,100,16,True,2024-01-17 05:52:46,R_1l9yoUxAcnOKaV6,0.8999999761581421,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
34,2024-01-17 05:48:02,2024-01-17 06:04:19,100,977,True,2024-01-17 06:04:19,R_1qam3Dnf4duESi7,0.8999999761581421,Yes,Female,...,NaN,NaN,NaN,NaN,10th of November,24th of November,4.0,4.0,0,0
35,2024-01-17 06:23:12,2024-01-17 06:37:47,100,875,True,2024-01-17 06:37:48,R_6qPD6s4tOB9zmKt,1,Yes,Male,...,NaN,NaN,NaN,NaN,10th of November,24th of November,1.0,2.0,0,0
36,2024-01-17 09:49:26,2024-01-17 09:49:48,100,22,True,2024-01-17 09:49:48,R_7wodJYnD7fDVLjz,0.800000011920929,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
37,2024-01-18 01:30:22,2024-01-18 01:45:33,100,910,True,2024-01-18 01:45:34,R_1nUUnJUIHqxuCOd,1,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
38,2024-01-18 01:56:28,2024-01-18 01:56:55,100,27,True,2024-01-18 01:56:56,R_2fg8EAfmU3P8njB,0.8999999761581421,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
39,2024-01-18 01:56:56,2024-01-18 01:57:05,100,8,True,2024-01-18 01:57:05,R_2C6ZOJkP4CSv08f,0.8999999761581421,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
40,2024-01-18 02:03:33,2024-01-18 02:06:37,100,183,True,2024-01-18 02:06:38,R_6gc4KN7swj6BhK0,0.8999999761581421,Yes,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
41,2024-01-18 01:57:16,2024-01-18 02:08:04,100,647,True,2024-01-18 02:08:04,R_2r7i31KGMxsO9lU,0.8999999761581421,Yes,Male,...,16.616,77.962,79.219,12,10th of November,24th of November,5.0,4.0,0,0
42,2024-01-18 01:58:05,2024-01-18 02:21:53,100,1428,True,2024-01-18 02:21:54,R_2Tt9vlOkpSRwEpc,0.8999999761581421,Yes,Male,...,87.729,153.112,154.819,4,10th of November,24th of November,2.0,4.0,0,0
43,2024-01-18 01:33:50,2024-01-18 02:25:09,100,3078,True,2024-01-18 02:25:10,R_14WCmmpBw7GVpjb,1,Yes,Male,...,9.36,144.361,145.141,19,10th of November,29th of November,5.0,4.0,0,0

In [32]:
demographics = raw_data.loc[:, :"Q_RecaptchaScore"]
# replaces columns into numbers
replace_map = {'Satisfied': 4, 'Very satisfied': 5, 'Neither dissatisfied or satisfied': 3, 'Dissatisfied':2, 'Very dissatisfied': 1,'Confident': 4, 'Somewhat confident': 5, 'Neither confident or unsure': 3, 'Not confident':2, 'Not confident at all': 1}
raw_data.replace(replace_map, inplace=True)

# Make Score for User satisfaction and User Confidence
raw_data['US'] = 0
raw_data["UC"] = 0

complex_responses = raw_data.loc[:, "QC1.1":"Q68"]
simple_responses = raw_data.loc[:, "QS1":]

simple_responses.dropna(thresh=10)
complex_responses.dropna(thresh=10)

,QC1.1,QC2,QC3,QUC1,QUS1,CT2_First Click,CT2_Last Click,CT2_Page Submit,CT2_Click Count,QC4_1,...,Q65,Q66,CT6_First Click,CT6_Last Click,CT6_Page Submit,CT6_Click Count,Q54,Q53,Q67,Q68
19,True,False,False,3.0,4.0,NaN,NaN,NaN,NaN,1,...,2.0,2.0,NaN,NaN,NaN,NaN,3rd of November,24th of November,1.0,1.0
24,True,False,True,1.0,1.0,NaN,NaN,NaN,NaN,1,...,2.0,2.0,NaN,NaN,NaN,NaN,10th of November,24th of November,1.0,1.0
27,True,True,False,5.0,4.0,NaN,NaN,NaN,NaN,1,...,3.0,3.0,NaN,NaN,NaN,NaN,10th of November,29th of November,1.0,2.0
30,True,False,False,5.0,4.0,NaN,NaN,NaN,NaN,1,...,4.0,4.0,NaN,NaN,NaN,NaN,10th of November,24th of November,4.0,4.0
31,False,True,True,2.0,4.0,NaN,NaN,NaN,NaN,1,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,False,False,True,5.0,4.0,0.901,190.185,191.055,44,2,...,5.0,4.0,16.977,108.901,110.779,25,10th of November,24th of November,1.0,1.0
40,True,False,True,3.0,3.0,10.259,34.052,34.753,12,3,...,2.0,2.0,2.523,7.893,8.801,11,10th of November,29th of November,5.0,4.0

In [33]:
answer_sheet = pd.read_excel("./data/answer_sheet.xlsx")

In [34]:
answer_sheet.head()

,Q1.1,Q1.2,Q1.3,Q2.1,Q2.2,Q2.3,Q2.4,Q2.5,Q3.1,Q3.2,Q3.3,Q3.4,Q3.4.1,Q3.5,Q4.1,Q4.2,Q4.3,Q5.1,Q5.2
0,False,False,True,Executive,2,1,3,4,1,5,4,3,2,34,Q2,Febuary,January-Febuary,10th of November,24th of November

In [35]:
# Calculate User confidence for simple visualizations
simple_responses["UC"] = (simple_responses['Q73'] + simple_responses['Q76'] + simple_responses['Q78'] + simple_responses['Q74'] + simple_responses['Q80']) /25
# Calculate User satisfaction for simple visualization
simple_responses["US"] = (simple_responses['Q72'] + simple_responses['Q75'] + simple_responses['Q77'] + simple_responses['Q79'] + simple_responses['Q81']) /25

# Calculate User confidence for complex visualizations
complex_responses["UC"] = (complex_responses['QUC1'] + complex_responses['Q61'] + complex_responses['Q63'] + complex_responses['Q65'] + complex_responses['Q67']) /25
# Calculate User satisfaction for complex visualization
complex_responses["US"] = (complex_responses['QUS1'] + complex_responses['Q62'] + complex_responses['Q64'] + complex_responses['Q66'] + complex_responses['Q68']) /25

# show result for simple and complex results
complex_responses[["US","UC"]]

      US    UC
19  0.48  0.36
20   NaN   NaN
21   NaN   NaN
22   NaN   NaN
23   NaN   NaN
24  0.40  0.36
25   NaN   NaN
26   NaN   NaN
27  0.60  0.52
28   NaN   NaN
29   NaN   NaN
30  0.80  0.88
31   NaN   NaN
32   NaN   NaN
33   NaN   NaN
34   NaN   NaN
35   NaN   NaN
36   NaN   NaN
37  0.64  0.72
38   NaN   NaN
39   NaN   NaN
40  0.68  0.68
41   NaN   NaN
42   NaN   NaN
43   NaN   NaN

In [30]:
simple_responses[["US","UC"]]

      US    UC
19   NaN   NaN
20   NaN   NaN
21  0.56  0.56
22  0.48  0.88
23  0.76  0.88
24   NaN   NaN
25  0.52  0.88
26  0.76  0.64
27   NaN   NaN
28  0.36  0.48
29  0.56  0.80
30   NaN   NaN
31   NaN   NaN
32  0.64  0.80
33   NaN   NaN
34  0.52  0.80
35  0.56  0.60
36   NaN   NaN
37   NaN   NaN
38   NaN   NaN
39   NaN   NaN
40   NaN   NaN
41  0.64  0.68
42  0.52  0.68
43  0.60  0.96